@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: minmax(200px, 13%) auto;
  height: 100vh;
}

.sidebar {
  background-color: #0ea5e9;
  display: flex;
  flex-direction: column;
  color: white;
}

.window {
  display: grid;
  grid-template-rows: 15% 85%;
}

.content {
  background-color: #f4f4f5;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.sidebar-header-logo {
  margin-right: 10px;
}

.sidebar-header-name {
  font-size: 24px;
  font-weight: 800;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
}

.sidebar-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 5px;
  transition: ease 100ms;
}

.sidebar-row-image {
  margin-right: 15px;
  margin-left: 15px;
}

.sidebar-row-name {
  font-weight: 600;
}

.sidebar-row:hover {
  background-color: #0284c7;
}

.sidebar-secondary {
  margin-top: 50px;
}

.profile {
  display: grid;
  grid-template-rows: 35% 65%;
}

.profile-bottom {
}
